<h1>Upload</h1> 
<form method="post" id="form" action="/upload/music" enctype="multipart/form-data">
    <input type="file" id="musicFile" name="musicFile" accept="audio/mp3">
    <input type="submit">
   </form>